html, body {
	margin: 0;
	padding: 0;
}

button {
	margin: 20px;
}

#container, textarea {
	margin: 20px;
}
textarea {
	width: 300px;
	height: 200px;
}
.new-style {
	color: indigo;
	font-size: 17px;
	font-weight: 600;
	margin: 17px;
}